<h1 class="page_title">Wachtwoord wijzigen</h1>
<?php echo $this->data['ChangePasswordView']['errMsgs']['global']; ?>
<form action="<?php echo htmlentities($this->data['ChangePasswordView']['change_password_formAction'], ENT_QUOTES, 'utf-8'); ?>" method="post" id="change_password_form" onsubmit="return validateChangePasswordForm(this);">
    <label class="form_label" for="old_password">Oud wachtwoord:*</label>
    <input class="textbox" type="password" maxlength="1000" id="old_password" name="old_password"><div class="clearfix"></div>
    <label class="form_label" for="new_password">Nieuw wachtwoord:*</label>
    <input class="textbox" type="password" maxlength="1000" id="new_password" name="new_password"><?php echo $this->data['ChangePasswordView']['errMsgs']['newPassword']; ?><div class="clearfix"></div>
    <label class="form_label" for="repeat_new_password">Herhaal nieuw wachtwoord:*</label>
    <input class="textbox" type="password" maxlength="1000" id="repeat_new_password" name="repeat_new_password"><?php echo $this->data['ChangePasswordView']['errMsgs']['repeatNewPassword']; ?><div class="clearfix"></div>
    <input class="submit_button" type="submit" name="save" value="Opslaan" onclick="buttonClicked = SUBMIT_BUTTON;">
    <input class="submit_button" type="submit" name="cancel" value="Annuleren" onclick="buttonClicked = CANCEL_BUTTON;">
</form>