<tr>
    <td><label class="form_label" for="balance">Saldo:</label><input class="textbox" type="text" id="balance" name="balance" maxlength="6" value="<?php echo htmlentities($this->data['UserSearchUserManagerView']['balance'], ENT_QUOTES, 'utf-8'); ?>"></td>
    <td><input type="checkbox" class="checkbox" id="show_balance" name="show_balance" <?php echo $this->data['UserSearchUserManagerView']['showBalanceChecked']; ?>></td>
</tr>
<tr>
    <td><label class="form_label" for="phone">Telefoonnummer:</label><input class="textbox" type="text" id="phone" name="phone" maxlength="14" value="<?php echo htmlentities($this->data['UserSearchUserManagerView']['phone'], ENT_QUOTES, 'utf-8'); ?>"></td>
    <td><input type="checkbox" class="checkbox" id="show_phone" name="show_phone" <?php echo $this->data['UserSearchUserManagerView']['showPhoneChecked']; ?>></td>
</tr>
<tr>
    <td><label class="form_label" for="date_of_birth">Geboortedatum:</label><input class="textbox" type="text" id="date_of_birth" name="date_of_birth" maxlength="10" value="<?php echo htmlentities($this->data['UserSearchUserManagerView']['dateOfBirth'], ENT_QUOTES, 'utf-8'); ?>"></td>
    <td><input type="checkbox" class="checkbox" id="show_date_of_birth" name="show_date_of_birth" <?php echo $this->data['UserSearchUserManagerView']['showDateOfBirthChecked']; ?>></td>
</tr>
<tr>
    <td><label class="form_label" for="street">Straat:</label><input class="textbox" type="text" id="street" name="street" maxlength="30" value="<?php echo htmlentities($this->data['UserSearchUserManagerView']['street'], ENT_QUOTES, 'utf-8'); ?>"></td>
    <td><input type="checkbox" class="checkbox" id="show_street" name="show_street" <?php echo $this->data['UserSearchUserManagerView']['showStreetChecked']; ?>></td>
</tr>
<tr>
    <td><label class="form_label" for="house_number">Huisnummer:</label><input class="textbox" type="text" id="house_number" name="house_number" maxlength="4" value="<?php echo htmlentities($this->data['UserSearchUserManagerView']['houseNumber'], ENT_QUOTES, 'utf-8'); ?>"></td>
    <td><input type="checkbox" class="checkbox" id="show_house_number" name="show_house_number" <?php echo $this->data['UserSearchUserManagerView']['showHouseNumberChecked']; ?>></td>
</tr>
<tr>
    <td><label class="form_label" for="city">Gemeente:</label><input class="textbox" type="text" id="city" name="city" maxlength="30" value="<?php echo htmlentities($this->data['UserSearchUserManagerView']['city'], ENT_QUOTES, 'utf-8'); ?>"></td>
    <td><input type="checkbox" class="checkbox" id="show_city" name="show_city" <?php echo $this->data['UserSearchUserManagerView']['showCityChecked']; ?>></td>
</tr>
<tr>
    <td><label class="form_label" for="postal_code">Postcode:</label><input class="textbox" type="text" id="postal_code" name="postal_code" maxlength="6" value="<?php echo htmlentities($this->data['UserSearchUserManagerView']['postalCode'], ENT_QUOTES, 'utf-8'); ?>"></td>
    <td><input type="checkbox" class="checkbox" id="show_postal_code" name="show_postal_code" <?php echo $this->data['UserSearchUserManagerView']['showPostalCodeChecked']; ?>></td>
</tr>
<tr>
    <td><label class="form_label" for="country">Land:</label><input class="textbox" type="text" id="country" name="country" maxlength="30" value="<?php echo htmlentities($this->data['UserSearchUserManagerView']['country'], ENT_QUOTES, 'utf-8'); ?>"></td>
    <td><input type="checkbox" class="checkbox" id="show_country" name="show_country" <?php echo $this->data['UserSearchUserManagerView']['showCountryChecked']; ?>></td>
</tr>
<tr>
    <td><label class="form_label" for="membership_year">Lidjaar:</label><input class="textbox" type="text" id="membership_year" name="membership_year" maxlength="4" value="<?php echo htmlentities($this->data['UserSearchUserManagerView']['membershipYear'], ENT_QUOTES, 'utf-8'); ?>"></td>
    <td><input type="checkbox" class="checkbox" id="show_membership_year" name="show_membership_year" <?php echo $this->data['UserSearchUserManagerView']['showMembershipYearChecked']; ?>></td>
</tr>
<tr>
    <td><label class="form_label" for="card_number">Kaartnummer:</label><input class="textbox" type="text" id="card_number" name="card_number" maxlength="8" value="<?php echo htmlentities($this->data['UserSearchUserManagerView']['cardNumber'], ENT_QUOTES, 'utf-8'); ?>"></td>
    <td><input type="checkbox" class="checkbox" id="show_card_number" name="show_card_number" <?php echo $this->data['UserSearchUserManagerView']['showCardNumberChecked']; ?>></td>
</tr>
<tr>
    <td><label class="form_label">Registratietijd</label></td>
    <td><input type="checkbox" class="checkbox" id="show_ccreation_time" name="show_creation_time" <?php echo $this->data['UserSearchUserManagerView']['showCreationTimeChecked']; ?>></td>
</tr>
<tr>
    <td><label class="form_label" for="n_check_ins_per_year">Check-ins per jaar</label><input type="checkbox" class="checkbox" id="n_check_ins_per_year" name="n_check_ins_per_year" <?php echo $this->data['UserSearchUserManagerView']['nCheckInsPerYearChecked']; ?>></td>
    <td></td>
</tr>