<label class="form_label" for="password">Wachtwoord:*</label>
    <input class="textbox" type="password" maxlength="1000" id="password" name="password"><?php echo $this->data['UserDataFormPasswordView']['errMsgs']['password']; ?><div class="clearfix"></div>
    <label class="form_label" for="repeat_password">Herhaal wachtwoord:*</label>
    <input class="textbox" type="password" maxlength="1000" id="repeat_password" name="repeat_password"><?php echo $this->data['UserDataFormPasswordView']['errMsgs']['repeatPassword']; ?><div class="clearfix"></div>