<h2 class="success_message">Transactie geslaagd</h2>
<span class="money_big">&euro;<?php echo $this->data['ManageUserMoneyTransactionResultView']['balBefore']; ?></span><br>
<span class="money_big money_green">+<?php echo $this->data['ManageUserMoneyTransactionResultView']['incrMoney']; ?></span><br>
<span class="money_big money_red">-&euro;<?php echo $this->data['ManageUserMoneyTransactionResultView']['decrMoney']; ?></span><br>
<span class="money_big">=</span><br>
<span class="money_big">&euro;<?php echo $this->data['ManageUserMoneyTransactionResultView']['balAfter']; ?></span>