<h2 class='success_message'>Je wachtwoord werd succesvol gereset</h2>
<p class="normal_text">
    Binnen enkele ogenblikken ontvang je een e-mail met je nieuwe wachtwoord<br>
    (kijk ook zeker eens tussen je spam).<br>
    Het is aangeraden zelf je wachtwoord te veranderen wanneer je je opnieuw aanmeldt.
</p>
<p class="normal_text">Klik <a class="normal_text_anchor" href="<?php echo htmlentities($this->data['ResetSuccessfulView']['redirectUrl'], ENT_QUOTES, 'utf-8'); ?>" >hier</a> om terug naar de loginpagina te gaan.</p>