<h1 class="page_title">Wachtwoord resetten</h1>
<?php echo $this->data['ResetPasswordView']['errMsgs']['global']; ?>
<form action="<?php echo htmlentities($this->data['ResetPasswordView']['reset_password_formAction'], ENT_QUOTES, 'utf-8'); ?>" method="post" id="reset_password_form" onsubmit="return validateResetPasswordForm(this);">
    <label class="form_label" for="email">E-mail adres:</label>
    <input class="textbox" type="text" maxlength="50" id="email" name="email" value="<?php echo htmlentities($this->data['ResetPasswordView']['email'], ENT_QUOTES, 'utf-8'); ?>"><?php echo $this->data['ResetPasswordView']['errMsgs']['email']; ?><div class="clearfix"></div>
    <input class="submit_button" type="submit" name="reset" value="Reset wachtwoord" onclick="buttonClicked = SUBMIT_BUTTON;">
</form>